[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggflowchart"]
	path = ggflowchart
	url = https://github.com/nrennie/ggflowchart
	shallow = true
	registered = true
[submodule "PrettyCols"]
	path = PrettyCols
	url = https://github.com/nrennie/prettycols
	shallow = true
	registered = true
