[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PrettyCols"]
	path = PrettyCols
	url = https://github.com/nrennie/prettycols
[submodule "RSSthemes"]
	path = RSSthemes
	url = https://github.com/nrennie/rssthemes
[submodule "ggflowchart"]
	path = ggflowchart
	url = https://github.com/nrennie/ggflowchart
[submodule "messy"]
	path = messy
	url = https://github.com/nrennie/messy
